body{
    width: 100%;
    height: 100%;
    margin: 0%;
    background-image: url('../img/fundo1.png') ;
    background-size: 100%;
}
.menu-principal{
    margin-top: 20px;
    width: 100%;
    background-color:rgba(0, 0, 0, 0.788);
    height: 70px;
}
main{
    margin: auto;
    width: 100%;
    position: relative;
}

.logo{
    float: left;
    width: 20%;
    margin-left: 40px;
}
.opcoes ul li{
  list-style-type: none;
  margin: 0;
  padding: 2px;
  padding-left: 20px;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.110);
  float: left;
}


.opcoes ul li a{
    display: inline-block;
    color: white;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-size: 30px;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

.opcoes ul li:hover{
    border-bottom: 5px solid rgb(179, 209, 223);
    background-color: #333333;
}
.opcoes ul li a:hover{
    color: rgb(179, 209, 223);
    
    
    
}

.opcoes{
    width: 80%;
    float: center;
}

section{
    margin-left: 20%;
    height: 200px;
    padding: 100px;

}

.caixa_central{
    max-width: 500px;
    height: 250px;
    padding: 40px;
    background: rgba(255,255,255,.2);
    box-shadow:0 5px 15px rgba(0, 0, 0, 0.5);
    margin-left: 5px;
    font-size: 19px;
    border-radius: 7%;
}

.botao{
    margin-left: 18%;
    margin-top: 5%;
}