.container{
    width: 70%;
    font-size: 11px;
    font-weight: bold;           
    
}
.progressbar{         
    counter-reset: step;   
}
.progressbar li{            
    list-style-type: none;
    float: left;
    width: 14.28%;
    position: relative;
    text-align: center;
}
.progressbar li:before{
    content: counter(step);
    counter-increment: step;            
    width: 20px;
    height: 20px;
    line-height: 20px;
    border: 1px solid #f0ad4e;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius: 50%;
    background-color: #f0ad4e;
}
.progressbar li:after{
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #f0ad4e;
    top: 10px;
    left: -50%;
    z-index: -1;
}
.progressbar li:first-child:after{
    content: none;
}
.progressbar li.active {
    color: white;
}
.progressbar li.active:before {
    border-color: sienna;
    border: 2px solid sienna;
    background-color: sienna;
}
.progressbar li.active + li:after{
    background-color: sienna;
}
.progressbar li div{
    background-color: sienna;
    border-radius: 20px;
}