 @font-face { font-family: Delicious; src: url('Delicious-Roman.otf'); } 
 @font-face { font-family: Delicious; font-weight: bold; src: url('Delicious-Bold.otf');}
.navbar {
            background-color: black;
            opacity: 0.7;
            
        }

        .cover {
            background: url("../img/fundo1.png");
            background-attachment: fixed;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            height: 100%;

        }

        .bg-orange {
            background-color: #6e2a00!important;
        }

        .vh-80 {
            min-height: 80vh;
        }
        .vh-90 {
            min-height: 92vh;
        }

        .sign__container {
            width: 60%;
        }
        .mb-4{
            color: white;
        }

        .mb-5{
            color: white;
        }
        @media (min-width: 1200px) {
            .sign__container {
                width: 350px;
            }
            .subtitle-mb{
                margin-bottom: 5.5rem!important;
            }
        }



.foot{
    background: black;
    opacity: 0.7;
    line-height: 2;


}


.list{
    background-color: white;
    flex: 4;
    opacity: 0.8;

    font-size: 1.1vw;
}


.container-all{
    font-family: Lato;



}
html {
    height:100vh;
}

