 @font-face { font-family: Delicious; src: url('Delicious-Roman.otf'); } 
 @font-face { font-family: Delicious; font-weight: bold; src: url('Delicious-Bold.otf');}
.navbar {
            background-color: black;
            opacity: 0.7;
            
        }

        .cover {
            background: url("img/fundo1.png");
            background-attachment: fixed;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            height: 100%;

        }

        .bg-orange {
            background-color: #6e2a00!important;
        }

        .vh-80 {
            min-height: 80vh;
        }
        .vh-90 {
            min-height: 92vh;
        }

        .sign__container {
            width: 60%;
        }
        .mb-4{
            color: white;
        }

        .mb-5{
            color: white;
        }
        @media (min-width: 1200px) {
            .sign__container {
                width: 350px;
            }
            .subtitle-mb{
                margin-bottom: 5.5rem!important;
            }
        }



.foot{
    background: black;
    opacity: 0.7;
    line-height: 2;


}

#container-grafo{
  width: 280px !important;
}
.list{
    background-color: white;
    flex: 4;
    opacity: 0.8;

    font-size: 1.1vw;
}


.container-all{
    font-family: Lato;



}
html {
    height:100vh;

$color-picker-zindex: 1080 !default;
$color-picker-palette-zindex: 1070 !default;
$color-picker-monospace-font: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$color-picker-bg: #FFF !default;
$color-picker-dark-bg: #333 !default;
$color-picker-color: #222 !default;
$color-picker-link-color: #DDD !default;
$color-picker-link-hover-color: currentColor !default;
$color-picker-spacing: 1rem !default;
$color-picker-sat-size: 255px !default;
$color-picker-border-radius: .3rem !default;
$color-picker-box-shadow: 0 0.75rem 2rem rgba(10,20,70,.25) !default;
$color-picker-handle-box-shadow: 0 0 0 .2rem white, 0 .05rem .2rem .2rem rgba(5, 10, 70, 0.33) !default;
$color-picker-handle-focus-box-shadow: 0 0 0 .2rem white, 0 .05rem .2rem .2rem rgba(5, 10, 70, 0.33), 0 0 0 .3rem black, !default;
$transparency-bg: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2 2'%3e%3cpath fill='%23eee' d='M0,0v1h1V0H0z M1,1v1h1V1H1z'/%3e%3c/svg%3e") repeat right top/0.5rem 0.5rem !default;
$color-picker-swatch-box-shadow: 0 0 .1rem 0 rgba(5, 10, 70, 0.2) !default;
$color-picker-swatch-focus-box-shadow: 0 0 0 .2rem rgba(0,0,0,.15) !default;
$color-picker-swatch-transition: border-color .15s ease, border-box .15s ease !default;

@mixin color-picker-track {
  color: transparent; // Why?
  background: transparent;
  border-color: transparent;
  border: none;
  cursor: default;
}
@mixin color-picker-thumb {
  appearance: none;
  width: .75rem;
  height: .75rem;
  margin-bottom: 1px; // ? FF
  background-color: transparent;
  cursor: default;
  border: none;
  border-radius: 50%;
  box-shadow: $color-picker-handle-box-shadow;
}

@mixin color-picker-check-after { 
  &:after {
    position: absolute;
    top: calc(25% - 2px); left: calc(40% - 1px);
    display: inline-block;
    width: 20%;
    height: 50%;
    transform: rotate(45deg);
    background: transparent;
    border: 2px solid currentColor;
    border-width: 0 2px 2px 0 ;
  }
}

// Color input reset
input[type="color"]{
  width: 2rem; height: 2rem;
  padding:0;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: $color-picker-border-radius/1.5;
  transition: $color-picker-swatch-transition;
  cursor: pointer;
  &::-webkit-color-swatch-wrapper { // remove datalist ui [list="id"]
    padding:0!important;
  }
  &::-webkit-color-swatch {
    border: 0;
    border-radius: $color-picker-border-radius/1.5;
  }
  &::-moz-color-swatch{
    border: 0;
    border-radius: $color-picker-border-radius/1.5;
  }
  &:focus {
    box-shadow: $color-picker-swatch-focus-box-shadow;
    border-color: white;
  }
}
// Color picker
.color-picker {
  width: $color-picker-sat-size;
  padding: 0;
  color: $color-picker-color;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: $color-picker-border-radius;
  box-shadow: $color-picker-box-shadow;
  background-color: $color-picker-bg;
  z-index: $color-picker-zindex;
  user-select: none;
  &.fade {
    transition: opacity .2s ease;
    &:not(.show) { opacity: 0; visibility: hidden; }
  }
  &.show {
    opacity: 1;
    visibility: visible;
  }
  .sat {
    margin: 0; padding:0;
    position: relative;
    height: $color-picker-sat-size;
    width: $color-picker-sat-size;
    background:transparent;
    touch-action: none;
  }
  .white, .black, .color {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: calc(#{$color-picker-border-radius} - 1px) calc(#{$color-picker-border-radius} - 1px) 0 0;
  }
  .white {
    background: linear-gradient(to right, #fff 0%, rgba(255,255,255,0) 100%);
    z-index: 1;
  }
  .black {
    background: linear-gradient(to bottom, transparent 0%, #000 100%);
    z-index: 2;
  }
  .color {
    background: cyan;
    z-index: 0;
  }
  .handle {
    position: absolute;
    width: 12px;
    height: 12px;
    margin-left: -6px;
    margin-top: -6px;
    background-color: transparent;
    z-index: 4;
    border-radius: 50%;
    transform: translate($color-picker-sat-size, 0);
    box-shadow: $color-picker-handle-box-shadow;
    outline: none;
    transform: scale .15s ease-in;
    &:hover { cursor: pointer; transform: scale(1.15);}
    &:focus, &:active { 
      box-shadow: $color-picker-handle-focus-box-shadow;
      cursor: default;
    }
    &:active {
      cursor: none;
    }
  }
  nav {
    padding: $color-picker-spacing;
  }
  .controls {
    position: relative;
    overflow: hidden;
    display: block;
    z-index: 2;
    &:hover > a {
      transform: translateX(0);
    }
    & > a {
      position: absolute;
      bottom: .25rem;
      display: inline-block;
      width: 3rem; height: 3rem;
      padding: .5rem .5rem;
      color: $color-picker-link-color;
      background-color: transparent;
      z-index: 1;
      transition: opacity .2s linear, color .2s linear, transform .2s linear;
      &:hover {
        transform: translateX(0);
        color: $color-picker-link-hover-color;
      }
      &:first-of-type{
        left:.5rem;
        transform: translateX(-100%);
      }
      &:last-of-type {
        right:.5rem;
        transform: translateX(100%);
      }
      svg {
        width: 100%;
        height: auto;
        z-index:-1;
        pointer-events: none;
      }
    }
    .hue {
      height: 1rem;
      float: right;
      width: calc(100% - 4rem);
      margin: 1rem 0;
      background: linear-gradient(to right, red 0%, #ff0 17%, lime 33%, cyan 50%, blue 66%, #f0f 83%, red 100%);
      border-radius: .5rem;
      input[type="range"] {
        width: 100%;
        min-height: 1rem; // Align middle
        margin: 0;
        padding: 0; // Need to reset padding
        background-color: transparent;
        appearance: none;
        &:focus, &:active {
          outline: none;
          &::-webkit-slider-thumb { box-shadow: $color-picker-handle-focus-box-shadow; }
          &::-moz-range-thumb { box-shadow: $color-picker-handle-focus-box-shadow; }
          &::-ms-thumb { box-shadow: $color-picker-handle-focus-box-shadow; }
        }
        &::-moz-focus-outer { border: 0; }
        &::-webkit-slider-runnable-track { 
          @include color-picker-track;
        }
        &::-webkit-slider-thumb {
          @include color-picker-thumb;
          margin-top: 0; // Webkit specific
        }
        &::-moz-range-track { 
          @include color-picker-track;
        }
        &::-moz-range-thumb {
          @include color-picker-thumb;
        }
        &::-ms-track { 
          @include color-picker-track;
          border-width: .3725rem;
        }
        &::-ms-thumb {
          @include color-picker-thumb;
          margin-top: 0; // Edge specific
          margin-right: .25rem; // Workaround so overflowed box-shadow is visible.
          margin-left: .25rem;  // Workaround so overflowed box-shadow is visible.
        }
      }
    }
    .preview {
      position: relative;
      width: 3rem;
      height: 3rem;
      margin:0; padding:0;
      float:  left;
      box-shadow: inset 0 0 0 3px white, 0 1px 4px rgba(5,10,70,.1);
      background-color: cyan;
      border-radius: 50%;
      cursor: pointer;
      outline: none;
      transition: $color-picker-swatch-transition;
      &:hover, &:focus {
        &::after {
          content: '';
        }
      }
      &:focus {
       box-shadow: inset 0 0 0 .2rem white, $color-picker-swatch-focus-box-shadow;
      }
      &:after {
        position: absolute;
        top: calc(30% - 4px); left: calc(40% - 2px);
        display: inline-block;
        width: 20%;
        height: 40%;
        transform: rotate(45deg);
        background: transparent;
        border: 0px solid currentColor;
        border-width: 0 4px 4px 0 ;
        transition: all .15s ease;
      }
    }
    .output {
      position: relative;
      display: inline-block;
      float: none;
      margin-top: $color-picker-spacing;
      input {
        border: none;
        width: 100%; height: 1.5rem;
        background: transparent;
        color: $color-picker-color;
        font-size: 1.15rem;
        font-weight: 400;
        font-family: $color-picker-monospace-font;
        line-height: 1.5;
        text-transform: uppercase;
        text-align: center;
        padding: 0 $color-picker-spacing;
        cursor: default;
        outline: none;
      }
    }
  }
  // Swatches
  .swatches, &-palette.swatches {
    button, a {
      display: inline-block;
      float: left;
      padding: 0; 
      margin:$color-picker-spacing/4;
      width: $color-picker-spacing*1.5;
      height: $color-picker-spacing*1.5;
      line-height: 1.5;
      border-radius: $color-picker-border-radius/2;
      border: 1px solid rgba(0,0,0,.15);
      cursor: pointer;
      box-shadow: none;
      color: currentColor;
      transition: $color-picker-swatch-transition;
      &:hover {}
      &:focus, &:active, &.selected {
        border-color: white;
        &:after {
          content: '';
        }
      }
      &:focus, &:active {
        outline: none;
        box-shadow:$color-picker-swatch-focus-box-shadow;
      }
    }
    a {
      position: relative;
      color: white;
      background: $transparency-bg;
      background: attr(href); // Not working for now
      @include color-picker-check-after;
    }
    button{
      appearance: none;
      color: rgba(0,0,0,.25);
      &:hover, &:focus{
        color: currentColor;
        border-color: currentColor;
      }
      svg {
        width: 60%;
        vertical-align: middle;
        stroke-width: .5px;
        stroke: currentColor;
      }
    }
  }
  // Palette
  &-palette {
    position: fixed;
    display: inline-block;
    overflow: visible;
    max-width: 15.5rem;
    margin: 0;
    padding: $color-picker-spacing - $color-picker-spacing/4;
    background: $color-picker-bg;
    box-shadow: $color-picker-box-shadow;
    border-radius: $color-picker-border-radius;
    transform: translate(0, -50%);
    z-index: $color-picker-palette-zindex;
    outline: none;
    user-select: none;
    &.slidefade {
      transition: opacity .2s ease, transform .2s linear;
      &:not(.show) { opacity: 0; transform: translate(0, 0); }
    }
    .indicator {
      position: absolute;
      top: auto;
      right: auto;
      bottom: -$color-picker-spacing/2;
      left: calc(50% - #{$color-picker-spacing}/2);
      display: inline-block;
      color:  $color-picker-bg;
      border: $color-picker-spacing/2 solid transparent;
      border-bottom: 0;
      border-top: $color-picker-spacing/2 solid currentColor;
      width: 0;
      height: 0;
    }
    &.bottom .indicator { 
      top: -$color-picker-spacing/2; 
      bottom: auto; 
      border-top: 0;
      border-bottom: $color-picker-spacing/2 solid currentColor;
    }
    &.left .indicator { 
      top: calc(50% - #{$color-picker-spacing}/2); 
      right: -$color-picker-spacing/2;
      left: auto; 
      bottom: auto; 
      border-top: 0;
      border-right: $color-picker-spacing/2 solid currentColor;
    }
    &.right .indicator { 
      top: calc(50% - #{$color-picker-spacing}/2); 
      right: auto;  
      left: -$color-picker-spacing/2; 
      bottom: auto; 
      border-top: 0;
      border-left: $color-picker-spacing/2 solid currentColor;
    }
  }
}